.recipeSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: var(--grey-box-shadow);
}
.recipeSearch > input {
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
}

.mainSearch {
    width: 20rem;
}

.timeToPrepare {
    width: 4rem;
}

.submit:hover {
    cursor: pointer;
    background-color: lightgray;
}