.form {
    display: flex;
    flex-direction: column;
    box-shadow: var(--grey-box-shadow);
    padding: 2rem;
    gap: 1rem;
}
.header {
    text-align: center;
}

.input {
    padding: 0.8rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
}

.submit {
    padding: 0.8rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    transition: background-color 200ms linear;
}
.submit:hover {
    cursor: pointer;
    background-color: lightgray;
}